
@font-face {
    font-family: 'breathe_fireregular';
    src: url('/static/fonts/breathe_fire-webfont.woff2') format('woff2'),
         url('/static/fonts/breathe_fire-webfont.woff') format('woff'),
         url('/static/img/breathe_fire-webfont.svg#breathe_fireregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'zebulon_condensedregular';
    src: url('/static/fonts/zebulon_condensed-webfont.woff2') format('woff2'),
         url('/static/fonts/zebulon_condensed-webfont.woff') format('woff'),
         url('/static/img/zebulon_condensed-webfont.svg#zebulon_condensedregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'zebulon_hollowregular';
    src: url('/static/fonts/zebulon_hollow-webfont.woff2') format('woff2'),
         url('/static/fonts/zebulon_hollow-webfont.woff') format('woff'),
         url('/static/img/zebulon_hollow-webfont.svg#zebulon_hollowregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'BellGothicStd-Black';
    src: url('/static/fonts/BellGothicStd-Black.eot?#iefix') format('embedded-opentype'),  
         url('/static/fonts/BellGothicStd-Black.otf')  format('opentype'),
         url('/static/fonts/BellGothicStd-Black.woff') format('woff'), 
         url('/static/fonts/BellGothicStd-Black.ttf')  format('truetype'), 
         url('/static/img/BellGothicStd-Black.svg#BellGothicStd-Black') format('svg');
    font-weight: normal;
    font-style: normal;

}